.main{
    flex: 1;
    min-height:100vh;
    padding-bottom: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.nav img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-color: #007bff;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0px;
    font-size: 50px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg,#46a7c4,#ff554b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-container  .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}

.main-container .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f0f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer; 
}
.main-container .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color: #585858;
    font-size: 17px;
}

.main .card:hover{
    background-color: #dfe4df;
} 
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f0f9;
    padding: 10px 20px;
    border-radius: 50px ;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}
.search-box img:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
.search-box input{
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;  
}
.search-box:hover{
    background-color: #e6e6e6;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight:300 ;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 60px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    margin-left: -30px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}